* {
  box-sizing: border-box;
}


/* Colors */
:root {
  --black: #433232;
  --red: #C22D2D;
}

button#boom {
  background-color: var(--red);
  border: 10px solid var(--black);
  border-radius: 50%;
  display: block;
  margin: auto;
  font-family: 'Courier New', Courier, monospace;
  font-size: 2em;
  padding: 4em;
  width: 400px;
  height: 400px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  transition: background-color 2s, border 1.5s ease-in;
}

button#boom.playing {
  background-color: rgb(96, 2, 72);
  border: 20px solid var(--black);
}
