* {
  box-sizing: border-box;
}


/* Colors */
:root {
  --black: #433232;
  --red: #C22D2D;
  --green: #116935;
  --yellow: #ffff00;
  --grey: grey;
  --white: #eeeeff;
  --border: red;
  --alice: aliceblue;
}

button#boom {
  background-color: var(--red);
  border: 10px solid var(--black);
  border-radius: 50%;
  display: block;
  margin: auto;
  font-family: 'Courier New', Courier, monospace;
  font-size: 2em;
  padding: 4em;
  width: 400px;
  height: 400px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  transition: background-color 2s, border 1.5s ease-in;
}

button#boom.playing {
  background-color: rgb(96, 2, 72);
  border: 20px solid var(--black);
}

button#thwap {
  background-color: var(--grey);
  border: 10px solid var(--black);
  border-radius: 50%;
  display: block;
  margin: auto;
  font-family: 'Courier New', Courier, monospace;
  font-size: 2em;
  padding: 2em;
  width: 300px;
  height: 300px;
  font-weight: bold;
  color: var(--black);
  cursor: pointer;
  transition: background-color 2s, border 1.5s ease-in;
}

button#beep {
  background-color: var(--alice);
  border: 10px solid var(--black);
  border-radius: 50%;
  display: block;
  margin: auto;
  font-family: 'Courier New', Courier, monospace;
  font-size: 2em;
  padding: 1.5em;
  width: 200px;
  height: 200px;
  font-weight: bold;
  color: var(--black);
  cursor: pointer;
  transition: background-color 2s, border 1.5s ease-in;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

main>fieldset {
  display: flex;
  gap: 1em;
}

fieldset#sequencer {
  display: flex;
  flex-direction: column;
}

main fieldset.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

main fieldset.column span {
  width: 3em;
  border: 1px solid var(--black);
  padding: 0.1em 0.5em;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  background-color: #ccc;
}

textarea#settings {
  width: 300px;
  height: 300px;
  background: #eee;
}

/* Checkboxes */

/* #sequencer table input {
  appearance: none;
  width: 9vw;
  height: 9vw;
  min-width: 56px;
  min-height: 56px;
  max-width: 96px;
  max-height: 96px;
  background-color: var(--white);
  margin: 0px;
  padding: 0px;
  border: var(--red);
} */
